@*@model IEnumerable<NewProject.Models.garbage>*@
@model IEnumerable<Garbage.Common.DTO.GarabgeRequestServiceDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="card-header">
    <strong class="card-title">User Table</strong>
</div>
<div class="card-body">

</div><div class="row">
    <div class="col-sm-12">
        <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
            <thead>
                <tr style="background-color:#d39e00">
                    <th>
                        Garbage Id
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Hygiene Level
                    </th>
                    @*   <th>
                            @Html.DisplayNameFor(model => model.created_by)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.updated_by)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.created_on)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.updated_on)
                        </th>*@
                    <th>
                        Comment
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.garbage_id) @*Need Gid from add garbage table*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fk_user_id)   @*need username*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hygiene_level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        @* <td>
                                @Html.DisplayFor(modelItem => item.created_by)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_by)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_on)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updated_on)
                            </td>*@


                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="@Url.Action("Edit","Complaints", new { id = item.garbage_id })"><i class="fa fa-edit"></i><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("Delete","Complaints", new { id = item.garbage_id })"><i class="ti-close"></i><span class="glyphicon glyphicon-remove"></span> Del</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .btn-xs {
        border: 1px solid;
        border-radius: 10px;
    }
</style>