@model NewProject.Models.dumping_detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>dumping_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.source_fk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_fk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_city_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_city_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dumped_area.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dumped_area.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signup.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signup.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dump_area_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
