@model NewProject.Models.vehiclesdetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vehiclesdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updatedtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updatedtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddVehicle.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddVehicle.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area.area1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area.area1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signup.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signup.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
