@model IEnumerable<NewProject.Models.vehiclesdetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.signup.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area.area1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updatedtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedby)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AddVehicle.Name)
        </th>


        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.signup.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area.area1)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updatedtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedby)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AddVehicle.Name)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VehicleId })
        </td>
    </tr>
}

</table>
